In [12]:
import pandas as pd

# Dane o albumach z dodatkową kolumną 'Max Poz' (np. pozycja w rankingu)

# Tworzymy DataFrame
df = pd.read_html("https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/")[0]
df.head()

     0                                     1        2     3          4
0  POS                                 TITLE   ARTIST  YEAR  HIGH POSN
1    1                         GREATEST HITS    QUEEN  1981          1
2    2                  GOLD - GREATEST HITS     ABBA  1992          1
3    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
4    4                                    21    ADELE  2011          1

In [13]:
list(df.iloc[0])

['POS', 'TITLE', 'ARTIST', 'YEAR', 'HIGH POSN']

In [13]:

# ZADANIE 1: Zamień nazwy kolumn na ['POS', 'TITLE', 'ARTIST', 'YEAR', 'HIGH POSN']
df.columns = list(df.iloc[0])

# ZADANIE 2: Ilu pojedynczych artystów znajduje się na liście?
unikalni_artysci = df['ARTIST'].nunique()
print(f"Ilu unikalnych artystów: {unikalni_artysci}")

# ZADANIE 3: Które zespoły pojawiają się najczęściej?
print("\nNajczęściej występujący artyści:")
print(df['ARTIST'].value_counts())

# ZADANIE 4: Zmień nagłówki kolumn (pierwsza litera duża, reszta małe)
df.columns = [col.capitalize() for col in df.columns]

Ilu unikalnych artystów: 48

Najczęściej występujący artyści:
ARTIST
COLDPLAY                    3
TAKE THAT                   3
QUEEN                       2
ABBA                        2
MICHAEL JACKSON             2
FLEETWOOD MAC               2
BEATLES                     2
ADELE                       2
DIDO                        2
ORIGINAL SOUNDTRACK         2
ROBBIE WILLIAMS             2
MADONNA                     1
PINK FLOYD                  1
DIRE STRAITS                1
OASIS                       1
ARTIST                      1
JAMES BLUNT                 1
BOB MARLEY & THE WAILERS    1
SHANIA TWAIN                1
SIMPLY RED                  1
AMY WINEHOUSE               1
SIMON & GARFUNKEL           1
MEAT LOAF                   1
LEONA LEWIS                 1
DAVID GRAY                  1
MICHAEL BUBLE               1
SPICE GIRLS                 1
CORRS                       1
LADY GAGA                   1
KINGS OF LEON               1
KEANE                       1
VERVE                       1
U2                          1
JEFF WAYNE                  1
PHIL COLLINS                1
SCISSOR SISTERS             1
ALANIS MORISSETTE           1
MIKE OLDFIELD               1
TRAVIS                      1
TRACY CHAPMAN               1
ED SHEERAN                  1
NORAH JONES                 1
PAUL SIMON                  1
ORIGINAL CAST RECORDING     1
GEORGE MICHAEL              1
EMINEM                      1
SNOW PATROL                 1
REM                         1
Name: count, dtype: int64

In [14]:
# ZADANIE 5: Wyrzuć kolumnę 'POS'
df = df.drop(columns=['Pos'])

print(df.columns)

Index(['Title', 'Artist', 'Year', 'High posn'], dtype='object')

In [16]:
# ZADANIE 6: W którym roku wyszło najwięcej albumów?
najpopularniejszy_rok = df['Year'].value_counts().idxmax()
print(f"\nRok z największą liczbą albumów: {najpopularniejszy_rok}")

Rok z największą liczbą albumów: 2000

In [22]:
# ZADANIE 7: Ile albumów z lat 1960-1990?
#albumy_60_90 = df[(df['Year'] >= 1960) & (df['Year'] <= 1990)]
#print(f"\nLiczba albumów z lat 1960–1990: {len(albumy_60_90)}")

df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
albumy_60_90 = df[(df['Year'] >= 1960) & (df['Year'] <= 1990)]

print(f"Liczba albumów z lat 1960–1990: {len(albumy_60_90)}")

Liczba albumów z lat 1960–1990: 22

In [24]:
df.head()

                                  Title   Artist    Year  High posn
0                                 TITLE   ARTIST     NaN  HIGH POSN
1                         GREATEST HITS    QUEEN  1981.0          1
2                  GOLD - GREATEST HITS     ABBA  1992.0          1
3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967.0          1
4                                    21    ADELE  2011.0          1

In [28]:

# ZADANIE 8: Najmłodszy album
najmlodszy_rok = df['Year'].max()
print(f"\nNajmłodszy album pochodzi z roku: {najmlodszy_rok}")

# ZADANIE 9: Najwcześniejszy album każdego artysty
najwczesniejsze_albumy = df.sort_values('Year').drop_duplicates(subset='Artist', keep='first')

# ZADANIE 10: Zapisz do pliku CSV
najwczesniejsze_albumy.to_csv("najwczesniejsze_albumy.csv", index=False)
print("\nZapisano plik: najwczesniejsze_albumy.csv")

Najmłodszy album pochodzi z roku: 2015.0

Zapisano plik: najwczesniejsze_albumy.csv

In [29]:
df.head()

                                  Title   Artist    Year  High posn
0                                 TITLE   ARTIST     NaN  HIGH POSN
1                         GREATEST HITS    QUEEN  1981.0          1
2                  GOLD - GREATEST HITS     ABBA  1992.0          1
3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967.0          1
4                                    21    ADELE  2011.0          1